@model OnlineShoppingStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Спортивный магазин: Ваша корзина";
}
<h2>Your cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Товар</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Промежуточный итог</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines) {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">
                    @line.Product.Price.ToString("c")
                </td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Всего:</td>
            <td>
                @Model.Cart.ComputeTotalPrice().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">
        Вернуться в магазин
    </a>
</div>